<%- include('partials/header.ejs') %>

  <div class="container">
      <div class="row">
          <div class="col-6 mx-auto">
              <h3>Edit Genre</h3>
              <form action='/libraries/edit/<%= library.id %>' method="POST">
                <div class="form-group">
                  <label for="MovieId">Movie ID</label>
                  <input type="number" class="form-control" id="MovieId" name="MovieId" value="<%= library.MovieId %>">
                </div>
                <div class="form-group">
                    <label for="GenreId">Genre ID</label>
                    <input type="number" class="form-control" id="GenreId" name="GenreId" value="<%= library.GenreId %>">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
</div>

  
<%- include('partials/footer.ejs') %>